:root {
  --main-bg-color:    #242020; /* #282828; */
  --main-text-color:  #e1e1e1;
  --main-text-color-faded: rgba(225, 225, 225, 0.5);
  --my-yellow:        #f1b433;
  --my-orange:        #f26a38 ;
  --my-red:           #d8164d;
  --my-purple:        #6B39E5;
  --my-pink:          #d962c5;
  --my-blue:          #3a25c4;
  --my-green:         #0da379;
}

/* @font-face {
  font-family: 'Descent';
  src: url('../assets/fonts/DescScor.ttf') format('truetype');
} */

@font-face {
  font-family: 'Descent';
  src: url('./assets/fonts/DescScor.ttf') format('truetype');
}

@font-face {
  font-family: 'ebrima';
  src: url('./assets/fonts/ebrima.ttf') format('truetype');
}

header {
  display: flex;
  align-items: left;
  border-bottom: solid;
  padding-bottom: 5px;
  border-color: var(--main-text-color);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

img {
  width: 20vw;
  padding: 1.25vw;
  border-radius: 45px;
}

h1 {
 font-family: "Descent", Corbel, "serif";
  font-size:6vw;
  font-weight: bolder;
  color: var(--my-yellow);
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-family: 'ebrima', "sans-serif";
  font-size: 4.25vh;
  color: var(--my-green);
  text-align: center;
}

button {
  border: none;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

header button {
  border: none;
  padding: 15px;
  margin: 5px;
  text-align: center;
  font-style: 'Descent';
  color: var(--main-text-color)
}

.delete-button {
  border: none;
  padding: 5px; /* add padding to create spacing between buttons */
  margin: 0 5px; /* add margin to separate buttons visually */
  background-color: var(--my-color2);
  color: var(--main-text-color);
}

.edit-button {
  border: none;
  padding: 5px; /* add padding to create spacing between buttons */
  margin: 0 5px; /* add margin to separate buttons visually */
  background-color: rgb(163, 84, 236);
  color: var(--main-text-color);
}

.button-container {
  display: flex;
  justify-content: center;
  margin: .5vw;
}

#submit-button {
  background-color: var(--my-blue);
  font-family: "Descent", Corbel, "serif";
  font-size: 2vw;
  color: var(--main-text-color);
  text-align: center;
  width: 10vw;
  height: 5vw;
}

#logIn-button {
  margin-bottom: 13;
  background-color: var(--my-blue);
  font-family: "Descent", Corbel, "serif";
  font-size: 0.85vw;
  text-align: center;
  align-items: center;
  color: var(--main-text-color);
  width: 5vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items:center
}

#signUp-button {
  margin-bottom: 13;
  background-color: var(--my-purple);
  font-family: "Descent", Corbel, "serif";
  font-size: 0.85vw;
  text-align: center;
  align-items: center;
  color: var(--main-text-color);
  width: 7vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items:center
}

.wordsdone {
  color: var(--main-text-color);
}

.wordsdone-write {
  color: var(--my-yellow);
  text-decoration: underline;
}

/* Set the height of the form element to 80% of the window's height */
form {
  display: flex;
  justify-content: right;
  align-items: self-start;
  height: 65vh; /* 80% of the viewport height */
}

/* Set the height of the textarea element to 70% of the height of its parent element */
textarea {
  background-color: transparent;
  color: var(--main-text-color);
  border-style: solid;
  border-color: var(--main-text-color);
  outline: none;
  margin: auto;
  margin-top: 30px;
  font-family: "ebrima", sans-serif;
  font-size: 1.5vw;
  width: 60%;
  padding: 0.5em;
}

.center-content {
  display: flex;
  justify-content: center;
/*   border: 1px solid var(--my-red); */
}

.inner-content {
  width: 60%;
/*   border: 1px solid var(--my-red); */
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
}
.word-count-item {
  margin: 0.5em;
  color:var(--my-yellow)
}

.div-text-area {
    background-color: transparent;
    color: var(--main-text-color);
    border-style: solid;
    border-color: var(--main-text-color);
    outline: none;
    margin: auto;
    font-family: "ebrima", sans-serif;
    font-size: 1.5vw;
    width: 60%;
    padding: 0.5em;
}


textarea::placeholder {
  color: var(--main-text-color-faded); /* set the color and transparency of the default text */
}

#wordCounts {
  font-family: 'ebrima', "sans-serif";
  font-size: 2.5vh;
  color: var(--my-green);
  text-align: center;
}

#numWords {
  text-align: center;
  width: 100%;
  color: var(--my-red)
}