:root {
  --main-bg-color:    #282828;
  --main-text-color:  #e1e1e1;
  --my-yellow:        #f1b433;
  --my-orange:        #f26a38 ;
  --my-red:           #d8164d;
  --my-purple:        #6B39E5;
  --my-pink:          #c044d5;
  --my-blue:          #3a25c4;
  --my-green:         #0da379;
}

/* @font-face {
  font-family: 'Descent';
  src: url('../assets/fonts/DescScor.ttf') format('truetype');
} */

@font-face {
  font-family: 'Descent';
  src: url('./assets/fonts/DescScor.ttf') format('truetype');
}

@font-face {
  font-family: 'ebrima';
  src: url('./assets/fonts/ebrima.ttf') format('truetype');
}

header {
  margin-top: 1vh;
  margin-bottom: 1.5vh;
  text-align: left;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

img {
  width: 20vw;
  padding: 1.25vw;
  border-radius: 45px;
}

h1 {
 font-family: "Descent", Corbel, "serif";
  font-size:6vw;
  font-weight: bolder;
  color: var(--my-yellow);
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-family: Corbel, "sans-serif";
  font-size: 4.25vh;
  color: var(--my-color2);
}

#my-table {
  border-collapse: collapse; /* merge adjacent cell borders */
  border: 2px solid var(--main-text-color); /* set outer border thickness and color */
  width: 100%; /* set table width */
}

#my-table th, #my-table td {
  border: 1px solid var(--main-text-color); /* set inner cell border thickness and color */
  text-align: center;
}

#my-table th:first-child, #my-table td:first-child,
#my-table th:nth-child(2), #my-table td:nth-child(2) {
  width: 40%; /* set fixed width for the first two columns */
  max-width: 500px; /* set a maximum width for the columns */
}

div button {
  text-align: center;
}


.delete-button {
  border: none;
  padding: 5px; /* add padding to create spacing between buttons */
  margin: 0 5px; /* add margin to separate buttons visually */
  background-color: var(--my-color2);
  color: var(--main-text-color);
}

.edit-button {
  border: none;
  padding: 5px; /* add padding to create spacing between buttons */
  margin: 0 5px; /* add margin to separate buttons visually */
  background-color: rgb(163, 84, 236);
  color: var(--main-text-color);
}

.button-container {
  display: flex;
  justify-content: center;
  margin: .5vw;
}

.submit-button {
  border: none;
  padding: 5px; /* add padding to create spacing between buttons */
  margin: 0 5px; /* add margin to separate buttons visually */
  background-color: var(--my-blue);
  color: var(--main-text-color);
  font-family: "Descent", Corbel, "serif";
  font-size: auto;
  text-align: center;
  width: 10;
  height: 3;

}

.wordsdone {
  color: var(--main-text-color);
}

.wordsdone-write {
  color: var(--my-yellow);
  text-decoration: underline;
}

form {
  display: flex;
  justify-content: right;
  align-items: self-start;
}

form input[type="text"]{
  background-color: transparent;
  color: var(--main-text-color);
  border-style: solid;
  border-color: var(--main-text-color);
  outline: none;
  margin: auto;
  font-family: "ebrima", sans-serif;
  font-size: 1.5vw;
  width: 60%;
  height: 2em;
  word-wrap: break-word;
  overflow: hidden;
}

